# Root .npmrc (for all workspaces)
shamefully-hoist=true
node-linker=hoisted
virtual-store-dir=.pnpm

auto-install-peers=true
shared-workspace-lockfile=true
shared-workspace-shrinkwrap=true

registry=https://registry.npmjs.org/
